
.navbar
{
    background-color: rgb(189, 189, 255) !important;
}

.carousel
{
    width: 50% !important;
    height: 50% !important;
}

.flex-container
{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}